.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid white;
}

.logo {
  font-size: 30px;
}

a {
  color: white;
}

.logo a {
  text-decoration: none;
}

.navSection {
  gap: 3px;
}
